body{
  font-family: sans-serif;
  background: #f4f4f9;
  display: flex;
  justify-content: center;
  padding: 20px;
}

.container{
  background: white;
  padding: 30px;
  border-radius: 20px;
  min-width: 300px;
  shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h1{
  text-align: center;
  margin-bottom: 40px;
}

.todo-list{
  list-style: none;
  padding: 0;
  
  & li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5px;
    border-bottom: 1px solid #eeeeee;
    cursor: pointer;
  }
}

.input-group{
  display: flex;
  gap: 5px;
  
  & input{
    flex: 1;
    padding: 8px;
    border: 1px solid #dddddd;
    border-radius: 5px;
  }
  
  & button{
    cursor: pointer;
    background: #28a745;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
  }
}

.completed{
  text-decoration: line-through;
  color: #ccc;
  font-style: italic;
  transition: all 0.3s ease;
}

.del-btn{
  color: red;
  font-weight: bold;
  border: none;
  background: none;
  cursor: pointer;
}